.SV-container{
    margin: 10px 500px;
    // border: 1px solid gray;
    // border-radius: 5px;
    .text-header{
        font-size: 20px;
        font-weight:500;
    }
    .custom-btn{
        padding: 10px 40px;
        display: flex;
        justify-content: flex-end;
    }
}